.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


::ng-deep .mat-form-field-outline {
  color: black !important;
}

.servers ul {
  list-style: none;
  text-align: center;
  margin: 20px;
}

.servers li {
  display: inline-block;
}



.server-card {
  max-width: 400px;
  margin: 15px;
  flex-direction: row;
}

mat-divider {
  border-top-width: 2px;
  border-color: #171615;
}

