<div class="search">
  <div>Search for a Server</div>
  <mat-form-field appearance="outline">
    <input #search matInput (keyup.enter)="searchIP(search.value)">
  </mat-form-field>

  <!-- User Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{server?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Status: {{server?.online}}</p>
      <p>IP: {{server?.ip}}</p>
      <p>Active Players: {{server?.players.online}}</p>
      <p>Max Players: {{server?.players.max}}</p>
    </mat-card-content>
  </mat-card>

</div>

<mat-divider></mat-divider>

<div class="servers">

  <!-- Hypixel Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{hypixel?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Status: {{hypixel?.online}}</p>
      <p>IP: {{hypixel?.ip}}</p>
      <p>Active Players: {{hypixel?.players.online}}</p>
      <p>Max Players: {{hypixel?.players.max}}</p>
    </mat-card-content>
  </mat-card>

  <!-- Complex Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{pixelmon?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Status: {{pixelmon?.online}}</p>
      <p>IP: {{pixelmon?.ip}}</p>
      <p>Active Players: {{pixelmon?.players.online}}</p>
      <p>Max Players: {{pixelmon?.players.max}}</p>
    </mat-card-content>
  </mat-card>

  <!-- CubeCraft Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{cubecraft?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Status: {{cubecraft?.online}}</p>
      <p>IP: {{cubecraft?.ip}}</p>
      <p>Active Players: {{cubecraft?.players.online}}</p>
      <p>Max Players: {{cubecraft?.players.max}}</p>
    </mat-card-content>
  </mat-card>


</div>
