<div class="search">
  <mat-form-field appearance="outline">
    <input #search matInput (keyup.enter)="searchIP(search.value)" class="search-bar">
  </mat-form-field>

<!--  Before search-->
  <mat-card class="server-card" *ngIf="!server">
    <mat-card-header>
      <mat-card-title>Search for a server above!</mat-card-title>
    </mat-card-header>
  </mat-card>

<!--  Server not found-->
  <mat-card class="server-card" *ngIf="server && !server?.hostname">
      <mat-card-header>
        <mat-card-title>Server Not Found :(</mat-card-title>
      </mat-card-header>
  </mat-card>

<!--  Server found-->
  <mat-card class="server-card" *ngIf="server && server?.hostname">
    <mat-card-header>
      <mat-card-title>{{server?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="server?.online === true">Status: Online</p>
      <p *ngIf="server?.online === false">Status: Offline</p>

      <p *ngIf="server?.ip">IP: {{server?.ip}}</p>
      <p *ngIf="!server?.ip">IP: Not Found</p>

      <p *ngIf="server?.players?.online">Active Players: {{server?.players.online}}</p>
      <p *ngIf="!server?.players?.online">Active Players: N/A</p>

      <p *ngIf="server?.players?.max">Max Players: {{server?.players.max}}</p>
      <p *ngIf="!server?.players?.max">Max Players: N/A</p>

      <p *ngIf="server?.version">Version: {{server?.version}}</p>
      <p *ngIf="!server?.version">Version: N/A</p>
    </mat-card-content>
  </mat-card>
</div>

<mat-divider></mat-divider>

<div class="servers">

  <!-- Hypixel Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{hypixel?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="hypixel?.online === true">Status: Online</p>
      <p *ngIf="hypixel?.online === false">Status: Offline</p>
      <p>IP: {{hypixel?.ip}}</p>
      <p>Active Players: {{hypixel?.players.online}}</p>
      <p>Max Players: {{hypixel?.players.max}}</p>
      <p>Version: {{hypixel?.version}}</p>
    </mat-card-content>
  </mat-card>

  <!-- Complex Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{pixelmon?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="hypixel?.online === true">Status: Online</p>
      <p *ngIf="hypixel?.online === false">Status: Offline</p>
      <p>IP: {{pixelmon?.ip}}</p>
      <p>Active Players: {{pixelmon?.players.online}}</p>
      <p>Max Players: {{pixelmon?.players.max}}</p>
      <p>Version: {{pixelmon?.version}}</p>
    </mat-card-content>
  </mat-card>

  <!-- CubeCraft Card -->
  <mat-card class="server-card">
    <mat-card-header>
      <mat-card-title>{{cubecraft?.hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="hypixel?.online === true">Status: Online</p>
      <p *ngIf="hypixel?.online === false">Status: Offline</p>
      <p>IP: {{cubecraft?.ip}}</p>
      <p>Active Players: {{cubecraft?.players.online}}</p>
      <p>Max Players: {{cubecraft?.players.max}}</p>
      <p>Version: {{cubecraft?.version}}</p>
    </mat-card-content>
  </mat-card>

</div>
