.container{
  display: grid;

  height: 100vh;
  width: 100vw;

  grid-template-rows: 75px 1fr 100px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
}

.header {
  grid-area: header;
  background: indigo;
}

.main {
  grid-area: main;
  background: cadetblue;
}

.footer {
  grid-area: footer;
  background: lightcoral;
}
