body {
  margin: 0;
}

.container{
  display: grid;

  height: 100vh;
  width: 100vw;

  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header header'
    'main main'
}

.header {
  grid-area: header;
  color: #ececec;
  background-image: url("/assets/bg-wool-dark.png");
}

.main {
  grid-area: main;
  background-image: url("/assets/white-wool.webp");
}
