body {
  margin: 0;
}

.mat-toolbar {
  height: 100px;
}

.container{
  display: grid;

  height: 100vh;
  width: 100vw;

  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header header'
    'main main'
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
